applications/spring-shell/src/test/resources/testcode/mule-app/mule3/src/main/app/raml-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 - 2022 the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      https://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd">
    <http:listener-config name="api-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="api-config" raml="api.raml" consoleEnabled="false" doc:name="Router"/>
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="api-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="get:/machines:api-config">
        <set-payload value="{&#xA;  &quot;count&quot; : 3,&#xA;  &quot;machines&quot; : [&#xA;    {&#xA;      &quot;id&quot; : &quot;ZX4102&quot;,&#xA;      &quot;location&quot; : &quot;Starbuck's, 442 Geary Street, San Francisco, CA 94102&quot;&#xA;    },&#xA;    {&#xA;      &quot;id&quot; : &quot;ZX5322&quot;,&#xA;      &quot;location&quot; : &quot;Starbuck's, 462 Powell Street, San Francisco, CA 94102&quot;&#xA;    },&#xA;    {&#xA;      &quot;id&quot; : &quot;ZX6792&quot;,&#xA;      &quot;location&quot; : &quot;Cafe La Taza, 470 Post Street, San Francisco, CA 94102&quot;&#xA;    }&#xA;  ]&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/sales:api-config">
        <set-payload value="{&#xA;    &quot;count&quot; : 2,&#xA;    &quot;sales&quot; : [&#xA;      {&#xA;        &quot;dateAndTime&quot; : &quot;2013-10-22 16:17:00&quot;,&#xA;        &quot;value&quot; : 450,&#xA;        &quot;machineId&quot; : &quot;ZX4102&quot;,&#xA;        &quot;productId&quot; : &quot;Cad-CB1012&quot;&#xA;      },&#xA;      {&#xA;        &quot;dateAndTime&quot; : &quot;2013-10-22 16:17:00&quot;,&#xA;        &quot;value&quot; : 150,&#xA;        &quot;machineId&quot; : &quot;ZX5322&quot;,&#xA;        &quot;productId&quot; : &quot;CC-LB1&quot;&#xA;      }&#xA;    ],&#xA;    &quot;totalValue&quot; : 600&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/machines/{machine}:api-config">
        <set-payload value="{&#xA;  &quot;id&quot; : &quot;ZX4102&quot;,&#xA;  &quot;location&quot; : &quot;Starbuck's, 442 Geary Street, San Francisco, CA 94102&quot;,&#xA;  &quot;sales&quot; : [&#xA;    {&#xA;      &quot;dateAndTime&quot; : &quot;2013-10-22 16:17:00&quot;,&#xA;      &quot;value&quot; : 450,&#xA;      &quot;machineId&quot; : &quot;ZX4102&quot;,&#xA;        &quot;productId&quot; : &quot;Cad-CB1012&quot;&#xA;    },&#xA;    {&#xA;      &quot;dateAndTime&quot; : &quot;2013-10-22 16:17:00&quot;,&#xA;      &quot;value&quot; : 150,&#xA;      &quot;machineId&quot; : &quot;ZX5322&quot;,&#xA;      &quot;productId&quot; : &quot;CC-LB1&quot;&#xA;      }&#xA;    ],&#xA;  &quot;floatsToBeReplenished&quot; : [20, 40, 20, 80, 20, 40, 40],&#xA;  &quot;stockToBeReplenished&quot; : 54&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/sales:api-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
