applications/spring-shell/src/test/resources/testcode/mule-app/mule4/src/main/mule/amqp-mule.xml
<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright 2021 - 2022 the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      https://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<mule xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd">
	<amqp:config name="AMQP_Config" doc:name="AMQP Config" doc:id="f38e6f95-dad6-4a87-bfb6-e337ba92a777" >
		<amqp:connection host="amqpHost" username="guest" password="guest" />
	</amqp:config>
	<flow name="amqp-muleFlow" doc:id="81d40f34-f051-45ca-a2f9-c268870e242d" >
		<amqp:listener doc:name="Listener" doc:id="b0abc3c5-fae6-4b91-9944-95923d5aff28" config-ref="AMQP_Config" queueName="sbm-integration-queue-one"/>
		<logger level="INFO" doc:name="Logger" doc:id="300190b4-96a1-47f6-9627-a7cab1b98310" message="#[output application/java&#10;---&#10;payload]"/>
		<amqp:publish doc:name="Publish" doc:id="73e5413e-5475-49b6-8bb6-a9617fb19f8b" config-ref="AMQP_Config" exchangeName="sbm-integration-exchange">
			<amqp:routing-keys >
				<amqp:routing-key value="sbm-integration-queue-two" />
			</amqp:routing-keys>
		</amqp:publish>
	</flow>
</mule>
