applications/spring-shell/src/test/resources/testcode/mule-app/spring-amqp-mule/src/main/resources/amqp-mule.xml
<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright 2021 - 2022 the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      https://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<mule xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp" xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd">
	<amqp:connector name="amqpConnector"
					host="amqphost"
					port="5672"
					username="guest"
					password="guest"
					doc:name="AMQP-0-9 Connector"
	/>
	<flow name="amqp-muleFlow">
		<amqp:inbound-endpoint
				queueName="sbm-integration-queue-one"
				connector-ref="amqpConnector"
		/>
		<!-- <http:listener config-ref="HTTP_Listener_Configuration" path="/test" allowedMethods="POST" doc:name="Recieve HTTP request"/> -->
		<logger message="payload to be sent: #[new String(payload)]" level="INFO" doc:name="Log the message content to be sent"/>
		<flow-ref name="outToAMQP" />
	</flow>
	<sub-flow name="outToAMQP">
		<set-property propertyName="TestProperty" value="TestPropertyValue"/>
		<amqp:outbound-endpoint
				exchangeName="sbm-integration-exchange"
				routingKey="sbm-integration-queue-two"
				responseTimeout="10000"
				doc:name="Send to AMQP queue"
		/>
	</sub-flow>
</mule>
